<form [formGroup]="loginForm" (ngSubmit)="submit()">

  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="username"  placeholder="Enter username">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" formControlName="password" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter password">
  </div>

  <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Submit</button>
</form>
